.centerc{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .centerr{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .boxSh{
    box-shadow: 0 0 15px -10px rgb(0,0,0,.75);
  }