.customer-col3{
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);
  min-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .customer-col3-b{
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);
   height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customer-col9{

  }


.customer-col3-selectlabel{
    align-self: flex-start;
    margin: 5px;
    font-size: 1cqi;
    color: #555;
}
.customer-col3-select{
    font-size: 1cqi;
    border: 1px solid rgba(168, 168, 168, 0.550000011920929);
    align-self: flex-start;
    border-radius: 3px;
  width: 95%;
  padding: 2px;
  margin: 5px;
  outline: none;
}
.customer-regbutton{
    margin-top: 55px !important;
    width: 95% !important;
}
.customer-regbutton svg{
    transform: rotate(180deg);
    font-size: 1.2cqi !important;
    color: var(--white);
    margin: 8px;
}
.customer-regbutton span{
    font-size: 1cqi;
    font-family:Yekan,calibri !important;

}
.customer-editbut {
    font-size: 0.8cqi !important;
    margin: 2px;

}
.customer-deletbut{
    font-size: 0.8cqi !important;
    margin: 2px;

}
.customer-table th{
    font-size: 1cqi;
}
.customer-table td{
    font-size: 0.9cqi;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.customer-colsm9-div{
    display: flex;
  justify-content: center;
}
.customer-resticon{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
.customer-col3-form{
    width: 100%;
    animation: move 500ms 1 alternate ease-in-out;

}
.customer-col3-img{
    width: 25cqi;

    animation: move 500ms 1 alternate ease-in-out;
}
.customer-div-input{
    position: relative;
}
.customer-div-input ::placeholder{
    color:var(--gray1) !important;
}
.customer-search-div{
    display: none;
    position: absolute;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    overflow: auto;
    animation: move 500ms 1 alternate ease-in-out;
}
.customer-show{
display: inline;
} 

@keyframes move {
    0% {
        /* top: -800px; */
        opacity: 0;
    }

    100% {
        /* top: 0px; */
        opacity: 1;
    }
}

